.slider {
  overflow: hidden;
  position: relative;
}
.slider .slide-list {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slider .slide-list .slide {
  flex: 3 0 33.333%;
  position: relative;
  padding: 0 0.5rem;
}
.slider .slide-list .slide .slide-image {
  display: flex;
  margin: 0 auto;
  max-height: 40rem;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.slider .slide-list .slide .slide-title {
  text-align: center;
  margin-top: 10px;
}
.slider .dots {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  z-index: 3; 
  width: -moz-fit-content;   
  width: fit-content;
  margin: 0 auto;

}
.slider .dots .dot {
  background-color: #e7e7e7;
  border-radius: 5px;
  height: 10px;
  margin: 5px;
  width: 10px;
}
.slider .dots .dot:hover {
  cursor: pointer;
}
.slider .dots .dot.selected {
  background-color: var(--light-dark);
}
.slider .arrows {
  display: flex;
  font-size: 19px;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  opacity: 0.8;
  z-index: 3;
}
.slider .arrows .arrow {
  height: 30px;
  width: 30px;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--light-dark);
  color: var(--white);
  position: relative;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.slider .arrows span {
  position: relative;
  left: 5px;
}
.slider .arrows .arrow:hover {
  cursor: pointer;
  background-color: var(--dark-green);
  transition: all 0.3s ease-in-out;
}
.slider .arrows .arrow.left, .slider .arrows .arrow.right {
  margin-left: 5px;
}
.slider .arrows .arrow.right {
  margin-right: 5px;
}
@media screen and (max-width: 991px) {
  .slider .slide-list .slide {
    flex: 1 0 100%;
  }
  .slider .slide-list .slide .slide-image {
    max-height: 100%;
  }
 .slider .arrows {
    display: none;
    justify-content: space-between;
    bottom: 53%;
  }
}
